@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --darkmatter: #34495e;
  --darkermatter: #2c3e50;
  --greenapple: #2ecc71;
  --greyapple: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--greenapple);
  }
}

.nav {
  display: grid;
  grid-template-rows: minmax(min-content, 60px);
  .brand {
    cursor: pointer;
    justify-self: left;
    margin-left: 15px;
  }
  .content {
    align-content: space-evenly;
    background-color: var(--greyapple);
    display: grid;
    grid-auto-flow: column;
    place-items: center;
  }
  .dropdown {
    background-color: var(--darkmatter);
    display: none;
    text-align: center;
    a {
      color: white;
      padding: 20px;
      &:hover {
        color: var(--greyapple);
        background-color: var(--greenapple);
      }
    }
  }
  .links {
    display: grid;
    grid-auto-columns: minmax(min-content, 50px);
    grid-auto-flow: column;
    grid-gap: 15px;
    place-items: center;
    &.nav-items {
      justify-self: right;
      padding-right: 15px;
    }
  }
  .menu {
    -webkit-user-select: none;
    cursor: pointer;
    display: none;
    justify-self: right;
    margin-right: 15px;
    user-select: none;
    &:hover {
      opacity: 0.5;
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    .content {
      .links {
        display: none;
      }
      .menu {
        display: initial;
      }
    }
  }
}
